body {
	margin: 0px;
}
td {
	font-size: 12px;
}
.h22 {
	line-height: 22px;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
a:hover{
	font-size: 12px;
	color: #006F87;
	text-decoration: underline;
}
.text {
	color: #006F87;
}
.margin8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
}
.newstitle {
	font-size: 14px;
	font-weight: bold;
	color: #006C80;
}
.newstitle1 {
	font-size: 14px;
	font-weight: bold;
	color: #FF9900;
}
.leftmenu a{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
	display: block;
	padding-top: 6px;
	padding-bottom: 3px;
}
.leftmenu a:hover{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	display: block;
}
.leftmenu {
	background-image: url(bg02.jpg);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.leftmenu1 a{
	font-size: 12px;
	color: #004F9F;
	text-decoration: none;
	padding-left: 30px;
	display: block;
	padding-top: 7px;
	padding-bottom: 4px;
}
.leftmenu1 a:hover{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	display: block;
	background-image: url(bg02.jpg);
	background-repeat: repeat-x;
	width: 100%;
}
.leftmenu1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
}
.text14 {
	font-size: 14px;
	padding-bottom: 5px;
}
.text14 a{
	font-size: 14px;
	text-decoration: none;
	color: #006F87;
}
.text14 a:hover{
	font-size: 14px;
	text-decoration: underline;
	color: #006F87;
}
.probd {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1D1D1;
}
.promenuon {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #D1D1D1;
	border-right-color: #D1D1D1;
	border-left-color: #D1D1D1;
	color: #007287;
	text-align: center;
	cursor:pointer;
}
.promenuon a{
	font-size: 12px;
	text-decoration: none;
	color: #007287;
}
.promenuon a:hover{
	font-size: 12px;
	color: #007287;
	text-decoration: underline;
}



.promenuout {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #D1D1D1;
	border-right-color: #D1D1D1;
	border-left-color: #D1D1D1;
	text-align: center;
	cursor:pointer;
}
